
    /* GatheringUP - Neigbhorhood Stylesheet
    -------------------------------------------------- */
    /* admin_panel.css */

.top_wrap {
	margin-top: 60px;
	width: 100%;
}
.table th, .table td {
	vertical-align: middle!important;
}
.tag_list {
	float: right;
}
.breakline {
	height: 1px;
	background-color: #ccc;
	border-bottom: 1px solid white;
	width: 100%;
	clear: both;
}
.top_wrap .breakline {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
#Neigbhor_table {
	margin-top: 2em;
}
#Neigbhor_table .table th, .table td {
	vertical-align: middle;
	padding: 4px;
}
#neighbor_wrap .breakline {
	margin-bottom: 1.5em;
}
#Neigbhor_table thead tr th:last-child, #Neigbhor_table thead tr th:nth-of-type(3)  {
	background: none;
}
#example thead tr th:last-child {
	background: none;
}
#example td.sorting_1 {
	font-weight: bold;
}

.typeahead {
	margin-top: 0px;
}

#add_catagory {
	margin-top: 16px;
	margin-bottom: 30px!important;
}
#add_place {
	margin-top: 16px;
	margin-bottom: 30px!important;
}
.tag_module {
	float: right;
}
.btn-edit {
	float: right;
}
input.typeahead {
	z-index: 0;
}
ui.typeahead {
	z-index: 1;
}

    /* Modals 
    -------------------------------------------------- */

#neighbor_wrap th:last-child {
	text-align: right;
}
.modal.remove_row_button, .modal.edit_row_button {
	width: 24em;
	margin-left: -12em
}
.edit_row_button .breakline {
	margin-bottom: 1em;
} 
.edit_row_button input {
	width: 19.15em;
}
.remove_row_button .modal-body h3 {
	font-family: "ubuntu";
}
#add_neighbor_form .add_left{
	float: left;
	margin-bottom: 7px;
}
#add_neighbor_form .add_right{
	float: right;
	margin-bottom: 7px;
}
.add_neighbor {
	width: 37.5em;
	background-color: #f9f9f9;
	margin-left: -245px;	
}
.add_neighbor .modal-body {
	max-height:600px!important;
}

#radio_button {
	margin-left: 1.4em;
}
.add_neighbor .breakline {
	margin-top: 1em;
	margin-bottom: 1em;
}

	/* Tags
    -------------------------------------------------- */

#example_length {
	float: right;
}
#example_filter {
	margin-bottom: 1.5em;
}
.top_wrap #tag_groups {
	margin-right: 1em;
	margin-left: 1em;
}
#Neigbhor_table_length {
	float: right;
}
table#Neigbhor_table td {
	vertical-align: middle!important;
}

#edit_place_form .add_right{
	float: right;
}
#edit_place_form .add_left{
	float: left;
}


	/* Modals - Remove and Edit - Tags
    -------------------------------------------------- */
.edit_row_button #tag_groups {
	width: 100%;
	margin-bottom: 1em;
}


	/* DataTable Sorting
    -------------------------------------------------- */
.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
 
table.display thead th:active,
table.display thead td:active {
	outline: none;
}

	/* Featured Ranking 
    -------------------------------------------------- */
.container_large {
	width: 1100px;
	margin: 0 auto;
}
.container_large_2 {
	width: 1199px;
	margin: 0 auto;
	font-size: 12px;
}
@media (min-width: 1280px) {
	.container_large_2 {
		width: 1399px;
	}
}
.story_board {
	margin-top: 60px;
	width: 100%;
}
.story_board > .btn-group {
	margin-top: 10px;
}
.story_item select {
	width: 5em;
}
.story_item .table th, .table td {
	min-width: 0em;
}
.story_item #example_filter {
	margin-top: 1.5em;
}
.sorting {
	cursor: pointer;
}
.story_item thead tr th:nth-of-type(n+5), .story_item thead tr th:nth-of-type(1) {
	background: none;
}

	/* Place Manager
    -------------------------------------------------- */

#place_table .breakline {
	margin-bottom: 1.5em;
}
#place_table .table th, .table td {
	vertical-align: top!important;
	padding: 4px;
}
td.description {
	width: 300px!important;
	line-height: 1.4em!important;
	font-size: 0.9em;
}
#Places_table .btn-remove {
	float: right;
}
#Places_table .btn-edit {
	margin-left: 1px;
	margin-bottom: 1px;
}
#Places_table_length {
	float: right;
}
#Places_table_filter {
	margin-bottom: 1.5em;
}
.edit_place_button {
	padding: 1.5em 1.5em 1.5em 1.5em;
	background-color: #f9f9f9;
	position: absolute;
	top: 2%!important;
	margin-bottom: 2em;
}
.span-fix {
	margin: 0!important;
}
#edit_place_form textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#edit_place_form .clearfix{
	margin-bottom: 1em;
	margin-top:0.7em;
}
#remove_tag_btn {
	margin-left: 2px;
}
.edit_place_button .modal-footer {
	background: none!important;
	padding: 1em 0 0 0;
}
#edit_place_form {
	margin:0;
}
#Places_table thead tr th:last-child {
	background: none;
}

    /* Event Modifier Page
    -------------------------------------------------- */

.event_admin {
	margin-top: 4em;
}
.event_filters .date_filters {
	display: inline-block;
	margin-left: 2em;
}
.event_filters .date_filters label, .event_filters .date_filters input {
	display: inline-block;
}
.event_filters {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.event_query {
	font-size: 0.9em;
}
.edit_listing {
	width: 38em;
	top: 4%!important;
	position: absolute;
	margin-bottom: 10em!important;
}
.edit_listing form {
	margin-top: 1em;
}
.width_full {
	width: 100%;
}
.eventform textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.edit_listing .modal-body {
	max-height: none!important;
	margin: 15px!important;
	padding: 0!important;
}
.location_details div {
	display: inline-block;
}
.location_details div:nth-of-type(3) {
	margin-left: 1.4em;
}
.input_field {
	margin-bottom: 1em;
	/*margin-top: 1em;*/
}
.description {
	margin-top: 6em;
}
#create_event {
	float: right;
}