
    /* GatheringUP - What's Around, side navigations stylesheet 
    ------------------------------------------------------------- */
    /* nav.css */

.navigation {
    width: 100%;
    font-size: 1.1em
}
.navigation ul {
      margin: 0px;
}
  
ul.top-level { 
    /*background: #666; */
}
    
.navigation li { 
    list-style: none; 
}
ul.top-level li {
    margin-bottom: 1px;
    background-color: #c5c5c5;
    width: 10em;
}
.navigation a {
    color: white;
    cursor: pointer;
    display: block;
    height:25px;
    line-height: 25px;
    text-indent: 10px;          
    text-decoration:none;
    text-shadow:1px 1px 0px rgba(0,0,0,0.2);
    width:100%;
    padding: 1px 0px;
    font-weight: 400;
}
.navigation a:hover{  
    color: white;
}
.navigation li:hover {
    background: #F9AE57;
    position: relative;
}
.navigation li:focus {
    background: #F9AE57;
    position: relative;
}          
ul.sub-level {               
    display: none; 
    width: 10em;
    background-color:#F9AE57 !important;              
    margin-top: 0em!important;               
    margin-bottom: 3em;
    width: 300px;              
}
ul.sub-level li {
    margin: 0;
}
ul.sub-level a { 
    color: white!important;
    font-size: 0.9em!important;
    background-color: #F9AE57 !important;
}            
ul.sub-level a:hover {
    background-color: #A3C86C!important;
}
li:hover .sub-level {
    background: #999;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 155px;
    top: 0px;
}
ul.sub-level li {
    border: none;
    float:left;
    width:150px; 
}
ul.sub-level {
    /*overflow: scroll;*/
}
.newline {
    float: right;
}
.navigation .sub-level { 
    background: #999; 
}
.navigation .sub-level .sub-level { 
    background: #09C; 
}
                
    /*IE RESET HELPER*/

li:hover .sub-level .sub-level { 
    display:none; 
}
.sub-level li:hover .sub-level { 
  display:block; 
} 
.expandup-level {
    top: -5.2em!important;
    position: absolute;
    /*bottom: 0;*/
    /*left: 200px;*/
}