    /* Styles2.css */

    /* GLOBAL STYLES
    -------------------------------------------------- */

body { 
    font-size: 14px;    
    padding: 0; 
    /*background-image: url("../images/bg_grey.jpg");*/
    background-image: url("../images/kindajean.png");
    font-family: ubuntu;
}

a:hover {
    text-decoration: none; 
    color:  #F7931E;
}
a {
    color: #777;
}
p {
    font-size: 1em;
}
h1 {
    font-family: "arvo"
}
h4 {
    font-size: 1.2em;
}
h6 {
    font-size: 0.8em;
}

    /* Repeating Elements
    -------------------------------------------------- */

    /* Button Styling
    -------------------------------------------------- */

.btn-green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #A3C86C;
  /**background-color: #8BB946;*/
  background-image: -moz-linear-gradient(top, #A3c86c, #8BB946);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3c86c), to(#8BB946));
  background-image: -webkit-linear-gradient(top, #A3c86c, #8BB946);
  background-image: -o-linear-gradient(top, #A3c86c, #8BB946);
  background-image: linear-gradient(to bottom, #A3c86c, #8BB946);
  background-repeat: repeat-x;
  /*border-color: #8BB946 #8BB946 #387038;*/
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-radius: 0px !important;
  font-family: ubuntu
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #ffffff;
  background-color: #8BB946;
  *background-color: #499249;
}

.btn-green:active,
.btn-green.active {
  background-color: #408140 \9;
}

    /* Other
    -------------------------------------------------- */

.dividline {
    height: 1px;
    background-color: #ccc;
    border-bottom: 1px solid white;
    width: 100%;
}


    /* Navigations
    -------------------------------------------------- */

.navbar_container {
    margin-bottom: 0px;
}    

/*Styles Navigation Bar*/
.nav_bar_style { 
  background-color: #333333; 
  background-image: none;
  /*box-shadow: none !important;*/
  border: none;
  border-radius: 0px;
  position: fixed;
  border-top: 3px solid #FBB03B;
}
.brand {
    background-image: url("../images/GU_logo.png");
    background-repeat: no-repeat;
    text-indent: -999px;
    width: 8em;
    /*height: 2.4em;*/
    background-position: center;
    margin-left: 0px !important;
    margin-right: 2em;
}

/*Styles Navigation Buttons*/
#nav_items_group a {
    color: #f5f5f5;
    /*font-weight: 500;*/
    text-shadow: none;
    font-size: 1.1em; ;
}
#nav_items_group a:hover {
    color: white;
    background-color: #A3C86C;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

/*Nav Active Mode*/
.nav_active {
    color: red;
    background-color: red !important; 
}

    /* Nearby Page
    -------------------------------------------------- */

#map_canvas iframe {
    width: 100%;
    height: 100%;    
    position: fixed; 
    right: 0;       
}
.nearby_wrap {
    width: 33em;
    /*margin: 0 auto;*/
    margin-left: 30em;
    position: relative;
    overflow: hidden;
}
@media (max-width: 979px) {
    .nearby_wrap {
        margin-left: 25em;
    }
}
@media (min-width: 1200px) {
    .nearby_wrap {
        /*margin-left: 275px;*/
    }
}
#nearby_box {
    /*background-color: red;*/
    position: relative;
    margin-top: 5em;
    margin-bottom: 2em;
    z-index: 3;
}
.nearby_item {
    min-height: 15em;
    margin-top: 1.4em;
    background-color: white;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    border: 1px solid rgba(0,0,0,0.3);
}
.nearby_item:hover {
    background-color: #f9f9f9;
}
.item_tab {
    background-color: #A3C86C; 
    height: 1.2em;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-image: url("../images/open_arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.item_text {
    padding: 0.2em 0.5em 0.5em 1em;
    width: 18.5em;
    float: left;
    /*background-color: red;*/
}
.item_content {
    padding: 1em 1em 1.5em 1em;
    margin-top: 0em;
    display: none;
}
.item_top_info {
    min-height: 14em;
    padding-top: 1px;
}
.item_content dt {
    text-align: left;
    width: 80px;
}
.item_content dd {
    margin-left: 100px;
}
.nearby_item img {
    width: 10.4em;iteam
    float: right;
    margin: 10px 6px 0px 0px;
    height: 10em;
}
.nearby_item h4 {
    float: left;
    color: #F7931E;
    line-height: 1.3em;
    font-weight: 500;
    text-shadow: 0px -1px 0px white;    
}
.nearby_item h4 a {
    color: #F7931E;
}
.nearby_item p {
    color: #808080;
}
.CTA_button {
    /*background-color: red;*/
    height: 30px;
    float: right;
    margin-right: 19px;
    margin-top: 5px;
    display: none;
}

.CTA_button button {
    font-weight: 100;
    border-radius: 2px !important;
}
.CTA_button button:nth-last-child(odd) {
    background-image: url("../images/datebook.png");
    background-repeat: no-repeat;
    background-position-y:center; 
    background-position-x:1px;
    text-indent: 12px;
    
}
    /* Nav Listing Unit
    -------------------------------------------------- */

#nearby_nav {   
    position: fixed;
    top: 0;
    width: 40em;
    height: 100%;
    /*background-image: url("../images/bg_grey.jpg");*/
    background-image: url("../images/kindajean.png");    
    border-collapse: collapse;
    z-index: 2;
    box-shadow: 0em 0em 1em #333;
}
#nav_features {
    margin-top: 5em;    
    /*background-color: green;*/
    height: 100px;
    margin-left: 3em;
    width: 21em;
}  

.Pick_box {
    height: 5em;
    background-color: red;
    z-index: 3;
    position: relative;
}

#nearby_catagories {
    width: 21em;
    margin-left: 3em;
    margin-top: 1em;
    /*text-align: right;*/
}

a.accordion-toggle.nav_cat {
    font-size: 1.4em !important;
    line-height: 2em;
    /*background-color: red;*/
}
.group_style {
    border: none !important;
    border-radius: 0px;
    outline: none;
    background: none;
}
.cat_style a {
    /*background-color: red;*/
    font-size: 1.2em;
    line-height: 1.2em; 
}

    /* Top Module of Nav Listing Unit
    -------------------------------------------------- */

#nearby_search {
    border-radius: 0px;
    height: 2.5em;
    font-size: 1.1rem ;
    font-family: "ubuntu";
    text-indent: 2px;
    width: 226px;
}

#nav_features select{
    font-family:"ubuntu";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    height: 2.5em;
    font-size: 1.1rem;
    width: 100%;
    text-indent: 2px;
    color: #999;
}

    /* Index Home Page
    -------------------------------------------------- */
    /* General Elements */

.cat_tag {
    border-radius: 3px;
    border: 1px solid #777;
    font-family: "handlee";
    font-weight: 500;
    color: #555;
    font-size: 1em;
    padding: 5px 10px 1px 10px;
    text-shadow:0 1px 0 white;

}


    /* Hero Unit
    -------------------------------------------------- */

.featured_unit {
    background-image: url("../images/original.jpg");
    background-repeat: no-repeat;
    height: 340px;
    background-position: center;
    position: relative;
    margin-top: 40px;
    width: 100%;
}

@media (max-height: 710px) {
    .featured_unit {
        margin-top: -15px;
    }
}

.featured_unit span {
    color: white;
    margin-right:1em; 
    margin-left:1em;        
}
#featured_title { 
    width: auto;
    max-width: 45em;
    margin-top: 70px;
    float: left;
}
#featured_title h1 {
    background-color: rgba(122,201,67,0.8);
    color: white;
    padding: 7px 10px 7px 10px;
    line-height: 1.2em;
    /*position: absolute;*/
}
#featured_title h3 {
    background-color: rgba(122,201,67,0.8);
    color: white;
    font-weight: 100;
    position: absolute;  
    padding: 1px 10px 1px 10px;
    font-style: italic;
}
.featured_text {
    background-color: rgba(122,201,67,0.8);
    float: right;
    margin-right: 2em;
    margin-top: 80px;
    width: 20em;
    /*border: 4px solid rgba(122,201,67,0.8);*/
    /*box-shadow: 0 0 15px black;*/
}
.featured_text p {
    color: white;
    font-size: 1.1em;
    padding: 1em 1em 0em 1em;
    line-height: 1.4em;
    font-weight: 100;
}
.featured_text p a {
    color: white;
    font-weight: 700;
}
.featured_tag {
    /*background-color: red;*/
    padding: 0em 1em 1em 1em;
    /*position: absolute;*/
    bottom: 0px;
}
.module_tag {
    background-color: red;
    /*padding: 0em 1em 1em 1em;*/
    width: 305px;
    bottom: 0;

}
    /* Filter Bar
    -------------------------------------------------- */


.filter_bar {
    height: 50px;
    position: relative;
    background: #a5c544;
       background-image:     -webkit-gradient(linear, 0 0, 0 100%, from(#a5c544), to(#8aa23c));
       background-image:     -webkit-linear-gradient(#a5c544, #8aa23c);
       background-image:     -moz-linear-gradient(#a5c544, #8aa23c);
       background-image:     -o-linear-gradient(#a5c544, #8aa23c);
       background-image:     linear-gradient(#a5c544, #8aa23c);

    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),inset 0 -1px 6px rgba(255,255,255,0.2); 
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),inset 0 -1px 6px rgba(255,255,255,0.2); 
    box-shadow: 0 1px 5px rgba(0,0,0,0.4),inset 0 -1px 6px rgba(255,255,255,0.2); 
    /*border-bottom: 1px solid #788b36;*/
    border-top: 1px solid #444;
    z-index: 1;
}
.filter_bar_bottom {
    height: 40px;
    /*background: #a5c544;*/
    background-image:     -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ccc));
       background-image:     -webkit-linear-gradient(white, #ccc);
       background-image:     -moz-linear-gradient(white, #ccc);
       background-image:     -o-linear-gradient(white, #ccc);
       background-image:     linear-gradient(white, #ccc);    
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4),inset 0 -1px 6px rgba(255,255,255,0.2); 
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4),inset 0 -1px 6px rgba(255,255,255,0.2); 
    box-shadow: 0 1px 5px rgba(0,0,0,0.4),inset 0 -1px 6px rgba(255,255,255,0.2); 
    border-bottom: 1px solid #999;
    border-top: 1px solid #788b36;
    z-index: -1;
}

.filter_bar h2 {
    display: inline;
    font-family: arvo;
    font-weight: 100;
    text-shadow: 0px 1px 0px #cecece;
    color: #333;
    font-size: 1.7em;
    line-height: 2.1em;
    text-align: center;
}
#filter_cat{
    text-align: center;
}
.filter_bar select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    line-height: 1em;
    font-family: Handlee;
    font-weight: 500;
    font-size: 1.5em;    
    height: 39px;    
    width: 150px;
    color: #222;
    -webkit-box-shadow: inset 0 0 3px black;
    -moz-box-shadow: inset 0 0 3px black;
    box-shadow: inset 0 1px 3px black;
    border: 1px solid #444;
    text-indent: 5px;
}
select:focus {
    /*background-color: red;*/
    outline: none;
    -webkit-box-shadow: inset 0 0 3px black;
    -moz-box-shadow: inset 0 0 3px black;
    box-shadow: inset 0 1px 3px black;
}
.filter_btn {
    display:inline;
    /*position: relative;*/
    /*left: 50%;*/
    /*margin-left: -30em;*/


}
.filter_btn a {
    font-size: 1.4em;
    line-height: 2.1em;
    font-family: "arvo";
    color: #555;
    text-shadow: 0px 1px 0px white;
    float: left;

    border-right: 1px solid #999;
    border-left: 1px solid white; 
    text-align: center;

}
#filter_btn_wrap {
    /*background-color: red;*/
    height: 40px;
    width: 840px;
    margin:0 auto;
    border-right: 1px solid white;
    border-left: 1px solid #999;
}


    /* Pagination Home
    -------------------------------------------------- */

#page1 {
    margin-right: 25px;
}
/*#page1 li a {
    background-color: #444;
    color: white;
}*/
    /* Outing Modules
    -------------------------------------------------- */

.container-module {
    margin: 0 auto;
    /*height: 200px;*/
    /*background-color: yellow;*/
}
.module_wrap {
    margin-top: 1em;
}
@media (max-width: 1349px)    {
    .container-module {
        width: 1020px;
        /*background-color: blue;*/
    }
}
@media (min-width: 1350px)  {
    .container-module {
        width: 1350px;
        /*background-color: green;*/
    }    
}
.module_unit {
    min-height: 450px;
    background-color: white;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
    width: 305px;
    float: left;
    /*box-shadow: 0 0 8px rgba(0,0,0,0.3); */
    border-radius:2px;
    border: 1px solid #999999;  
    cursor: pointer;  
}
.module_unit:hover {
    box-shadow: 0 0 6px #FF7F00; 
    border: 1px solid #FF7F00;
}
.module_image {    
    margin: 12px 10px 0px 10px;
    border-radius: 2px;
    background-repeat: no-repeat;
    height: 230px;
    box-shadow: 0 1px 0px rgba(255,255,255,.2), inset 0 5px 15px rgba(0,0,0,0.7), inset 0 -3px 15px rgba(0,0,0,0.3);
}
.module_text {
    padding: 0px 15px 15px 15px;
}
.module_text h5 {
    text-align: center;
    margin-bottom:0px; 
    margin-top:10px;
    font-weight: 400;
    color: #F7931E;
    font-family: "arvo";
    font-size: 1.1em;
}
.module_text p {
    font-size: 0.90em;
    line-height: 1.3em;
    margin: 5px auto;
    color: #666;
}
.module_text h6 {
    text-align: center;
    margin: 2px auto;
    color: #666;
    font-weight: 400;
    font-style: italic;
}
.module_unit > p {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    font-family: "handlee";
    color: #777;
    text-align: right;
}