
    /* GatheringUP Stylesheet - Places Page
    -------------------------------------------------- */
    /* styles_places.css */


    /* Nearby Page
    -------------------------------------------------- */
.map_around {
    width: 100%;
    height: 100%;
    float: left;
    display: block;    
    position: fixed!important;
    margin-left: 250px;
    bottom: 0;
    z-index: 5;
}
.bottom_padding {
    display: block;
    clear: both;
    height: 3em;
}
.nearby_wrap {
    width: 29.5em;
    margin-left: 19em;
    position: relative;
    z-index: 6;
    height: 100%;
    padding-top: 1.5em;
}

#nearby_box {
    position: relative;
    z-index: 3;
}

/* Small-modules */

.nearby_item.sm_mod {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
} 
.sm_mod img {
    width: 4em;
    float: right;
    position: absolute;
    right: 0;
    margin: 10px 6px 0px 0px;     
}
.sm_mod .item_text {
    width: 27.6em;
    margin: 0.5em 1em;
}
.sm_mod .item_text h4 {
    margin-top: 0;
}
.sm_mod .item_text p {
    margin-top: 0;
    float: right;
}
/* Med-modules */

.nearby_item.med_mod {
    min-height: 13.7em;
}
.med_mod .item_top_info {
    min-height: 13em;
}

/* Large-modules */

.nearby_wrap .nearby_item {
    bottom: 6em;
}
.nearby_wrap .nearby_item:nth-of-type(1) {
    margin-top: 8.2em!important;
}

.bg_wrap {
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    height: 100%;
    width: 31.5em;
    margin-left: 18em;
    z-index: 6;
}
.nearby_item:hover {
    background-color: white;
}
.item_tab {
    background-color: #A3C86C;
    background-image: -moz-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3c86c), to(#8BB946));
    background-image: -webkit-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -o-linear-gradient(top, #A3c86c, #8BB946);
    background-image: linear-gradient(to bottom, #A3c86c, #8BB946),;

    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ff62c462&#39;, endColorstr=&#39;#ff51a351&#39;, GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    height: 1.5em;
    bottom: 0;
    position: absolute;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.item_tab:hover {
    background: none;
    background-color: #8BB946!important;
}
.item_tab_bar {
    background-color: #A3C86C; 
    height: 0.3em;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.item_text {
    margin: 1em;
}
.item_text h4 {
    font-family: arvo;
}
.item_other {
    width: 8em;
    position: relative;
    margin: 15px 15px 20px 15px;    
    float: left;
}
.item_other button.btn-mini {
    float: right;
    width: 100%;
    margin-top: 5px;
    border-radius: 4px!important;
}
.item_other .thumbnail_box {
    display: block;
    height: 7.5em;
    overflow: hidden;
    border: 4px solid white;

    -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4)!important;
}

.item_content {
    padding: 0em 1em 1.5em 1em;
    margin-top: 0em;
    display: none;
    font-size: 0.9em;
    color: #555;
    line-height: 1.4em;
    text-shadow: 0px 1px 0px white;
}
.item_content .result_cat{
    margin-bottom: 8px;
}
.item_top_info.clearfix{
    margin-bottom: 0.8em;
}
.item_content dt {
    text-align: left;
    width: 80px;
}
.item_content dd {
    margin-left: 100px;
}
.item_content .dividline {
    background-color: #ccc;
    margin-bottom: 0.8em;
    margin-top: 0.6em;
}
.item_other img {
    width: 100%;
    float: right;
}
.item_other img.thumbnail{
    margin-right: -4px;
}
.item_top_info .btn_group {
    clear: both;
    text-align: center;
    display: block;
}
.nearby_item h4 {
    line-height: 1.3em;
    font-weight: 700;
    font-size: 1em;
    text-shadow: 0px -1px 0px white;
    font-family: arvo;
    margin-bottom: 0.2em;
}
.nearby_item h4 a {
    color: #333;
}
.nearby_item h4 a:hover {
    color: #619D00;
}
.nearby_item span {
    font-family: arvo;
    font-size: 1.3em;
    font-weight: 700;

}
.nearby_item p {
    color: #444;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.3em;
    margin: 0.4em auto;
}
.nearby_item p a{
    color: #333;
    font-weight: 400!important;
}
.nearby_item p a:hover{
    color: #619D00;
}


 /* Place Detail Modals
    -------------------------------------------------- */

.placesmodal {
    top: 5%!important;
    position: absolute;
}    
.placesmodal .nearby_item {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.placesmodal button.close {
    margin-right: 0.3em;
    margin-top: 0.2em;
}
.placesmodal .place_data {
    /*margin: 1em 2em 2em 2em;*/
    font-size: 0.9em;
    color: #666;
    font-weight: 400;
}
.placesmodal .item_other button.btn-mini {
    width: 100%;
    border-radius: 4px!important;
    display: block!important;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
}
.placesmodal .item_other {
    margin: 0em 1em 0.5em 2em;    
    float: left;
}
.placesmodal .nearby_item {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: none;
    margin-top: 2em;
}
.placesmodal .item_text {
    margin: 2em 2em 1em 2em;
}
.placesmodal .item_text p {
    font-size: 0.9em;
    line-height: 1.4em;
}
.placesmodal .nearby_item h5 {
    font-size: 1em;
}
.placesmodal .nearby_item h4 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
    margin-top: 0em;
    /*float: right;*/
}
.placesmodal .nearby_item p {
    font-size: 0.9em;
    margin-top: 0.3em;
    clear: both;
}
.placesmodal .dividline {
    margin-bottom: 1em;
}
.placesmodal .cat_tag_mini {
    clear: both;
    margin-bottom: 0.5em;
}   
.modal-backdrop, .modal-backdrop.fade.in {
    background-color: rgba(0,0,0,0.4);
}
.placesmodal .accordion-inner {
    padding: 0;
    /*background-color: #eee;*/
    border:none;
}
.placesmodal .accordion-heading {
    font-weight: 100;
    font-size: 1.1em;
    font-family: arvo;
    
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .1);    

    background-color: #A3C86C;
    background-image: -moz-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3c86c), to(#8BB946));
    background-image: -webkit-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -o-linear-gradient(top, #A3c86c, #8BB946);
    background-image: linear-gradient(to bottom, #A3c86c, #8BB946);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ff62c462&#39;, endColorstr=&#39;#ff51a351&#39;, GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.placesmodal .accordion-heading a {
    color: white;
    padding: 5px 10px;
}
.placesmodal .accordion-group {
    margin-top: 0.5em;
}
.placesmodal .comment_msg {
    width: 100%;
    border-radius: 0;
    font-family: ubuntu;
}
.placesmodal .reviews .accordion-inner{
    padding: 0em 1em 3em 1em;
}
.placesmodal .reviews button.btn-green {
    float: right;
}
.placesmodal .reviews p{
    font-size: 0.85em;
    line-height: 1.4em;
    clear: right;
}
.placesmodal .reviews h4{
    margin: 0;
    font-size: 1em;
    float: left;
}
.placesmodal .reviews span {
    float: right;
    font-size: 0.7em;
}
.placesmodal .reviews .img-polaroid {
    float: left;
    margin: 0em 0.5em 0.3em 0em ;
}
.placesmodal .reviews .text_fields {
    margin-top: 1em;
}
.placesmodal .accordion {
    clear: both;
}
    /* Nav Listing Unit
    -------------------------------------------------- */

#nearby_nav {   
    position: fixed;
    top: 0;
    width: 18em;
    height: 100%;
    background-image: url("http://siteimages.gatheringup.com/images/kindajean.png");    
    border-collapse: collapse;
    z-index: 7;
    -webkit-box-shadow: 0em 0em 1em #333;
    -moz-box-shadow: 0em 0em 1em #333;
    box-shadow: 0em 0em 1em #333;
    /*overflow-y: auto;*/
}
#nav_features {
    margin-top: 4em;    
    margin-left: 1em;
    width: 16em;
}  
#nav_features .dividline {
    margin-bottom: 10px;
}
.Pick_box {
    height: 5em;
    z-index: 3;
    position: relative;
}

#nav_features .active > a, #nav_features .active > a:hover, #nav_features .active > a:focus {
    background: none;
    font-family: "ubuntu";
    background-color: #8BB946;
    color: white!important;
}

    /* Accordion Modificiations
    -------------------------------------------------- */

.active_nav {    
    background: none!important;
    background: #f8a644!important;
    background: -moz-linear-gradient(top, #f8a644 0%, #f7931e 100%)!important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8a644), color-stop(100%,#f7931e))!important;
    background: -webkit-linear-gradient(top, #f8a644 0%,#f7931e 100%)!important;
    background: -o-linear-gradient(top, #f8a644 0%,#f7931e 100%)!important;
    background: -ms-linear-gradient(top, #f8a644 0%,#f7931e 100%)!important;
    background: linear-gradient(to bottom, #f8a644 0%,#f7931e 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&#39;#f8a644&#39;, endColorstr=&#39;#f7931e&#39;,GradientType=0 )!important;
}

#nonaccordion {
    margin-left: 2em;
    width: 21em;
}
#nonaccordion h3 {
    line-height: 21px;
}
#nonaccordion a:hover {
    background: #f8a644; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8a644 0%, #f7931e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8a644), color-stop(100%,#f7931e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8a644 0%,#f79dd31e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8a644 0%,#f7931e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8a644 0%,#f7931e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8a644 0%,#f7931e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&#39;#f8a644&#39;, endColorstr=&#39;#f7931e&#39;,GradientType=0 ); /* IE6-9 */
}
#nonaccordion a:focus {
    outline: none;
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}

#nonaccordion a {
    font-family: arvo;
    display: block;
    padding: 5px 10px;
    color: white!important;
    font-weight: 100;
    font-size: 0.75em;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #A3C86C;
    background-image: -moz-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3c86c), to(#8BB946));
    background-image: -webkit-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -o-linear-gradient(top, #A3c86c, #8BB946);
    background-image: linear-gradient(to bottom, #A3c86c, #8BB946);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ff62c462&#39;, endColorstr=&#39;#ff51a351&#39;, GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
@media (max-width: 768px) {
    #nonaccordion {
        display: none;
        list-style: none;
    }
}
.accordion {
    margin: 0em 2em 2em 2em;
}
#accordion2:focus, .accordion-group:focus {
    outline: none;
}

#accordion .accordion-heading .accordion-toggle {
    padding: 0;
}
#accordion .accordion-inner {
    padding: 0;
}
#accordion .accordion-inner ul {
    margin: 0;
}
#accordion .accordion-inner ul li {
    width: auto;
    list-style: none;
}
#accordion .accordion-inner ul li a{
    color: white;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    text-indent: 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
    width: 100%;
    padding: 1px 0px;
    font-weight: 400;
    font-size: 1.1em;
}

#accordion .accordion-inner ul li a:hover{
      /*color: #ffffff;*/
      background-color: #F8AD3B;
      background-image: -moz-linear-gradient(top, #F8AD3B, #F7931E);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8AD3B), to(#F7931E));
      background-image: -webkit-linear-gradient(top, #F8AD3B, #F7931E);
      background-image: -o-linear-gradient(top, #F8AD3B, #F7931E);
      background-image: linear-gradient(to bottom, #F8AD3B, #F7931E);
      background-repeat: repeat-x;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ff62c462&#39;, endColorstr=&#39;#ff51a351&#39;, GradientType=0);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#accordion {
    width: 16em;
    margin-left: 1em;
    margin-top: 3.8em;
}
#accordion h3:hover {
    cursor: pointer;
    background: #f8a644; /* Old browsers */
    background: -moz-linear-gradient(top,  #f8a644 0%, #f7931e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8a644), color-stop(100%,#f7931e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f8a644 0%,#f7931e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f8a644 0%,#f7931e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f8a644 0%,#f7931e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f8a644 0%,#f7931e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=&#39;#f8a644&#39;, endColorstr=&#39;#f7931e&#39;,GradientType=0 ); /* IE6-9 */

}
#accordion h3:focus {
    outline: none;

    -webkit-box-shadow:none !important;     
    -moz-box-shadow:none !important;    
    box-shadow:none !important;    
}
#accordion h3 {
    padding: 5px 10px;
    color: white;
    font-weight: 100;
    line-height: 17px;
    font-size: 1.1em;
    font-family: arvo;

    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .1);
    background-color: #A3C86C;
    background-image: -moz-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#A3c86c), to(#8BB946));
    background-image: -webkit-linear-gradient(top, #A3c86c, #8BB946);
    background-image: -o-linear-gradient(top, #A3c86c, #8BB946);
    background-image: linear-gradient(to bottom, #A3c86c, #8BB946);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ff62c462&#39;, endColorstr=&#39;#ff51a351&#39;, GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);    
    margin-top: 5px;
    margin-bottom: 1px;
}

a.accordion-toggle.nav_cat {
    font-size: 1.4em !important;
    line-height: 2em;
    color: #F7931E;
    text-shadow:0px 1px 0px #555;
}

.group_style {
    border: none !important;
    border-radius: 0px;
    outline: none;
    background: none;
}
.cat_style a {
    font-size: 1.2em;
    line-height: 1.2em; 
}

#nav_features select{
    font-family:"ubuntu";
    border-radius: 0px!important;
    font-size: 1.1em;
    width: 100%;
    color: #555;
}

/* Featured Events Unit showing in Places Page */ 

.tag_featured {
    font-family: arvo;
    background-color: #FFD321;
    color: white;
    position: absolute;
    right: -12px;
    margin-top: 2px;
    padding: 0.1em 0.4em;
    font-size: 0.9em;
    font-weight: 400;
    z-index: 1;
    -webkit-box-shadow: -1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: -1px 1px 3px rgba(0,0,0,0.3);
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.tag_event {
    background-color: #EF4136;
}
.tag_featured img {
    position: absolute;
    right: 0;
    top: 22px;
}

