
    /* Perfect Outing Create Page - New Form
    -------------------------------------------------- */    
    /* Create Outing Top */

.create_frame {
    float: left;
    background-color: white;
    margin: 0;
    box-shadow: 0em 0em 2em #333;
    position: absolute;
}
.create_frame h1 {
    margin-top: 1.8em;
    text-align: center;
    text-shadow: 0px 1px 0px white;
    color: #444;    
}    
.row {
    /*background-color: red;*/
}
.span12 {
    /*background-color: blue;*/
}
.full-width {
    width: 100%;
    /*float: left;*/
}
.image_unit .btn-upload {
    margin-left: 0.5em!important;
    margin-top: -3em;
    position: absolute;
}

.input_reset {
    outline: none;
     -webkit-box-shadow:  none!important;
     -moz-box-shadow:  none!important;
     box-shadow:  none!important;
    border: none!important;
    margin: 0!important;
    line-height: normal!important;
    border-radius: 0px!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}
.headline_input {
    font-family: "arvo"!important;
    font-size: 2.4em!important;
    width: 100%;
    margin-top: -0.2em!important;
    border:1px dashed #ccc!important;
    margin-bottom: 0.3em!important;
}    
.form_normal {
    font-size: 1.1em !important;
    font-family: "ubuntu";
    width: 100%;  
    margin-top: 1em!important;
    margin-bottom: 0em!important;
    border: 1px dashed #ccc!important;
    border-radius: 0px!important;
    background: none!important;
}
.area_normal {
    font-size: 1.3em !important;
    font-family: "ubuntu";
    line-height: 1.4em!important; 
    margin-bottom: 1em!important; 
    width: 100%;  
    font-weight: 100; 
    border:1px dashed #ccc!important; 
}
.form_sizing {
    margin-top: 2em;
    margin-bottom: 1em;
}
.content_unit .form_sizing .btn-upload {
    margin-bottom: 1em;
}
.description_text {
    font-size: 1.2em !important;
    font-family: "ubuntu";
    line-height: 1.4em!important;
    margin-bottom: 0px!important;
    width: 100%;
    font-weight: 100;
    border: 1px dashed #ccc!important;
    margin-top: 0.9em!important;
}
.caption_text {
    font-size: 1.2em !important;
    font-family: "ubuntu";
    line-height: 1.4em!important;
    margin-bottom: 0px!important;
    width: 100%;
    font-weight: 400;
    border: 1px dashed #ccc!important;
}
.form_description {
    margin-top: 0.6em;
}
.added_unit {
    border: 2px dashed #ccc;
    margin: 0em 1em 2em 1em!important;
    padding-top: 1em;
    padding-bottom: 0!important;
}

@media (max-width: 480px) {
    .form_description {
        width: 100%;
    }
    .form_description label {
        margin-left: 0!important;
    }
}
.form_description label {
    margin-left: -13px;
}
.top_unit .select2-search-field input:focus {
    border: none!important;
    -webkit-box-shadow: none!important;
     -moz-box-shadow: none!important;
     box-shadow: none!important; 
}
.top_unit .tutorial_1 {
    color: #555;
}
.top_unit .tutorial_1 span{
    font-family: arvo;
    font-weight: 700;
    font-size: 1.5em;
}
@media (max-width: 1349px) {
    .top_unit .btn-danger {
        /*margin-top: 1em;*/
    }
}
.create_frame .top_unit h2 {
    color: #444;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    font-family: arvo;
    font-size: 2em;
}
.form_sizing h4 {
    margin-top: -5px !important;
    text-indent: 5px;    
}
.form_sizing label {
    margin-bottom: 0.6em;
}
.label_text {
    /*float: left;*/
    font-weight: 500;
    margin-bottom: 3px;
    text-indent: 5px;
    color: #444;
    font-size: 1.3em;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
}
.icon-num {
    float: left;
    color: #444;
    font-size: 2.2em;
    width: 0.8em;
    margin-top: -4px;
    text-shadow: 0px 1px 0px white;
}
.label_text_thumb {
    float: right;
    margin-top: 1.2em;
    color: #444
}
#btn-publish {
    position: relative; 
    margin-bottom: 1em;     
    width: 10em; 
    margin-top: -1em;  
}
.btn-uploadhead {
    border-radius: 3px;
    width: 100%;
}
.image_unit span {
    font-size: 0.8em;
    margin-top: 0.4em;
    padding-bottom: 1.5em;
    float: right;   
}

/* WORKING on preview image positioning */
/* WORKING on preview image positioning */
/* WORKING on preview image positioning */

.preview_img {
    width: 100%!important;
}
.featured_check {
    margin-top: -2.7em;
    z-index: 101;
    position: absolute;
    right: 2.2em;
    font-size: 0.8em;
    font-weight: 700;
    color: #555;
    text-shadow: 0px 1px 0px white;
}
.featured_check input {
    margin: 0px 2px 2px 2px;

}
@media (max-width:480px){
    .content_unit textarea, .top_unit textarea {
        width: 100%!important;
        /*padding: 0px!important;*/
        -webkit-box-sizing: border-box!important;
        -moz-box-sizing: border-box!important;
        box-sizing: border-box!important;        
    }
    .placeholder_box {
        /*margin-top: 1em;*/
    }
    .image_unit {
        width: 100%!important;
    }
} 
 
span.file-input-name {
    float: right;
    margin-right: 10px;
}
@media (max-width: 767px) {
    .btn-upload {
        margin-left: 0px!important;
    }
}
.top_unit input.btn-danger, .content_unit input.btn-danger {
    float: right;
    padding-left:2em!important;
    padding-right:2em!important;
    /*margin-top: 1em;*/
    clear: both;
}
.content_unit input.btn-danger {
    float: right;
    padding-left:2em!important;
    padding-right:2em!important;
    margin-top: 1em;
    margin-bottom: 1em;
    clear: both;
}

@media (max-width: 767px) {
    .content_unit input.btn-danger {
        width: 100%;
    }    
}
@media (max-width: 767px) {
    .top_unit input.btn-danger{
        width: 100%;
        margin-top: 0em;
    }
}
.btn-add {
    font-family: "ubuntu";    
    position: relative;
    width: 10em;
}
.btn-save {
    margin-top: 2em;
    padding-left: 2em!important;
    padding-right: 2em!important;
    float: right;
}
.btn-destory {
    right: 10px;
    cursor: pointer;
    position: absolute;
}
.create_frame .dividline {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #777;
    clear: both;
}
.top_unit {
    margin-right: 0px!important;
    margin-left: 0px!important;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 05px;
    
    /*-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);*/
     /*-moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);*/
     /*box-shadow: 0 0 4px rgba(0,0,0,0.2);      */
}

.content_btn
.content_unit span.btn-destory {
    top: 4px;
    right: 4px;
}
.content_unit {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: auto;
}
.content_unit .form_sizing h2 {
    font-family: arvo;
    font-size: 2em;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    color: #444;
}
@media (min-width: 1350px) {
    .top_unit { 
        margin-right: -30px
    } 
}
@media (max-width: 767px) {
     .top_unit { 
        margin-right: 0px;
        padding-top: 0px;
    }   
    .create_frame h1 {
        font-size: 2em;
        line-height: 1em;
        margin-top: 1em;
        margin-bottom: 0.7em;
    }        
}
.tutorialwrap {
    margin-top: 50px;
}
.tutscreen {
    /*margin-bottom: 2em;   */
    color: #666;
}
.tutscreen h2 {
    font-family: arvo;
    font-weight: 700;
    font-size: 2em;    
    text-shadow: 0px 1px 0px white;
    color: #444;
}
.tutscreen p {
    /*font-family: arvo;*/
    /*font-weight: 700;*/
    font-size: 1.2em;    
    line-height: 1.5em;
    text-shadow: 0px 1px 0px white;
    /*color: #444;*/
}    
.tutscreen img {
    /*margin-top: 1em;*/
    margin-bottom: 1em;
}
#tutscreen_2 {
    margin: 0;
}
#tutscreen_3 {
    margin-top: 1.5em;
}
.tutscreen b {
    font-size: 1.1em;
    color: #444;
}
.tutscreen .dividline{
    margin-bottom: 1em;
}
@media (max-width:767px) {
    .tutorialwrap {
        display: none;
    }
}
.progress_buttons {
    text-align: center;
    margin-bottom: 2.2em;
}
.map_create {
    position: fixed!important;
    margin-top: -25px;
}