<!DOCTYPE html>
<html>
<head>
	<title>GatheringUP - Bookmarks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
    <meta name="description" content="Finding and Organizing Activities in New York City, such as Dining, Places and Events, is now Easy when you use GatheringUp's Datebook. Gathering Up made Simple.">
    <meta name="keywords" content="GatheringUp, Gathering Up, New York City, Organize, Friends, Events, Dining, Place, Food, Drink">

  	<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css"/>
  	<link rel="stylesheet" href="css/bootstrap-mobile.css"/>
    <link rel="stylesheet" href="css/styles2.css">
    <link rel="stylesheet" href="css/styles_event2.css">

    <link rel="stylesheet" href="css/icomoon/icomoon.css">  
    <link rel="stylesheet" href="css/nav.css">  
    
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
  <script src="js/jquery-ui-1.10.2.custom.js"></script>   
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDgWlD8brKo2WBwz8HkaWT5unU58aurUIk&sensor=true"  type="text/javascript"></script>

	<!-- Google Font -->

     <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>   	
     <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="/js/gatheringup-registration.js"></script>
<script type="text/javascript" src="/js/gatheringup-localize.js"></script>
<script type="text/javascript" src="/js/gatheringup-bookmark.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38678718-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

<body onload="initialize()">

    <!-- Header Unit -->

    <div class="navbar navbar_container">
      <div class="navbar-inner nav_bar_style navbar-fixed-top">
        <div class="container">

          <!-- Controls the mobile menu button -->

          <a class="btn btn-navbar btn-mini-menu" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Change Out the Logo -->      

          <div class="brand_fix">
            <a class="brand" href="/">GatheringUP</a>
          </div> 



            <span id="loggedinuserspan">
              <ul id="nav_cta" class="nav pull-right">
                <li><a class="btn_nav_cta" href="javascript:void(0)" data-toggle="modal" onclick="registerpopup()">Register</a></li>            
                <li>
                  <a class="btn_nav_cta dropdown-toggle" href="#" id="style_dp_text" data-toggle="dropdown">
                    Sign In
                    <b class="icon-chevron-down icon-white"></b>
                  </a>
                  <div id="signin_box" class="dropdown-menu">
                    <span id="logindropdownspan">
                      <a href="https://www.facebook.com/dialog/oauth?client_id=444845832200364&amp;redirect_uri=http%3A%2F%2Fwww.com%2Fuser%2Ffacebook&amp;state=95696bab9d935a2d763b732bbbdc0f0a" class="facebookurl">
                        <button class="btn btn_facebookdp btn-facebook"><span aria-hidden="true" class="icon-datebookfacebook"></span>Sign in with Facebook</button>  
                      </a>
                      <div class="dividline"></div>  
                      <div id="SideDropLoginErrors"></div>
                      <form class="clearfix" id="signin_content" method="post" action="#" accept-charset="UTF-8">
                        <input class="input_dp" placeholder="Username" id="droploginemail" type="text" name="username">
                        <input class="input_dp" placeholder="Password" id="droploginpassword" type="password" name="password">
                        <div id="forgotpw"><a onclick="logintoforget()">Forgot Password</a></div>
                        <button class="btn btn-green clearfix">Sign in</button>
                      </form>
                    </span>
                  </div>                
                </li>             
              </ul>            
            </span>

          </div>
        </div>
      </div>
    </div>    <!-- Header End -->


 <div class="modal hide fade" id="register_modal" tabindex="-1" role="dialog">

     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h1>Register with GatheringUP!</h1>
     <div class="dividline"></div>
       <form id="registerform">
         <div class="clearfix">

           <div class="control-group">
             <div class="control">
               <p class="help-block"></p>
               <input name="firstname" id="firstname" class="form_reg" type="text" placeholder="First Name" required>                
           </div>
         </div>

         <div class="control-group">
             <div class="control">
               <p class="help-block"></p>                  
                 <input  name="lastname" id="lastname" class="form_reg" type="text" placeholder="Last Name" required>
               </div>
         </div>

         <div class="control-group">
             <div class="control">    
               <p class="help-block"></p>   
                 <input  name="email" id="regemail" class="form_reg" type="email" placeholder="Email" required>
             </div>
         </div>

         <div class="control-group">
             <div class="control">    
               <input id="password1st"  type="password" minlength="8" name="password" class="form_reg" placeholder="Password - Must be 8 Characters" required>  
             </div>              
         </div>              

         <div class="control-group">
             <div class="control">    

               <input 
                 id="password2nd"
                 class="form_reg" 
                 placeholder="Retype Password"
                 type="password"
                 name="passwordconf"
                 data-validation-match-match="password1"    
                 minlength="8" 
                 data-validation-minlength-message="Minimum 8 Characters"              
                 />
               <p class="help-block"></p>    
             </div>              
         </div>       
<div id="RegistrationErrors"></div>

           <div class="control-group">
             <div class="control">                  
               <p class="help-block"></p>                                 
               <input type="text" name="norobotcode"  id="catcha2" class="form_reg" placeholder="Enter Captcha" required>
               <div ><img src="/captcha"></div>                
             </div>
           </div>

         </div>

         <div class="dividline"></div>
         <button class="btn btn-large btn-green" >Register!</button>
       </form>
     <h4>OR</h4>
<a href=""  id="fb_register" class="facebookurl"  >
     <button href="#" class="btn btn-large btn-facebook"><span id="fb_reg" class="icon-datebookfacebook" aria-hidden="true"></span>Register with Facebook</button>      
</a>
 </div>    




<!--Forgot Password Modal-->
<div class="modal hide fade" id="forgotpw_modal" tabindex="-1" role="dialog">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h1>Forgot Password?</h1>
     <div class="dividline"></div>
       <form  id="forgotpasswordform" class="forgot_fields clearfix">
         <div class="control-group">
           <div class="controls">
              <p class="help-block"></p>
               <input type="email" id="forgotemail" class="form_reg" placeholder="Enter Your Email" required>

           </div>
         </div>
         <button type="submit" class="btn btn-green">Forgot Password!</button>  
       </form>  
  </div>
  
<script type="text/javascript">
jQuery(document).ready(function() {
$( "#Nearby_Search" ).typeahead({
	source: function (query, process) {
          return $.get('/bit/localize/search', { search: query }, function (data) {
      		var name = jQuery.parseJSON(data);

            return process(name);
        });
      },
      updater: function(item) {
          console.log("working");
          this.$element[0].value = item;
          this.$element[0].form.submit();
          return item;
      },
      minLength: 2});

    $( "#accordion" ).accordion({
      heightStyle: "content",
      collapsible: false,
      active: false
    });
});
 </script>

<!--     <div id="nearby_nav">
    <div id="accordion" class="nav_features">
      <h3>Central Park</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=9">Basketball Courts</a> </li>
                <li><a href="/localize?categoryid=10">Handball Courts</a></li>     
                <li><a href="/localize?categoryid=11">Playgrounds</a> </li>
                <li><a href="/localize?categoryid=12">Tennis</a></li>
                <li><a href="/localize?categoryid=13">Soccer</a></li>
                <li><a href="/localize?categoryid=14">Bike Rentals</a></li>             
            </ul>
      </div>
      <h3>Columbus Circle</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=15">Theater's</a> </li>
                <li><a href="/localize?categoryid=16">Museums</a></li>                        
            </ul>
      </div>
      <h3>Lincoln Center</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=8">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=17">Cinema</a></li>                       
                <li><a href="/localize?categoryid=19">Comedy Clubs</a></li>                        
            </ul>
      </div>
      <h3>Museum Mile</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=4">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=20">Bars</a></li>
                <li><a href="/localize?categoryid=21">Cheap Eats</a> </li>                        
            </ul>
      </div>
      <h3>Fifth Avenue</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=4">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=20">Bars</a></li>
                <li><a href="/localize?categoryid=21">Cheap Eats</a> </li>                        
            </ul>
      </div>
      <h3>Metropolitan Museum of Art</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=4">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=20">Bars</a></li>
                <li><a href="/localize?categoryid=21">Cheap Eats</a> </li>                        
            </ul>
      </div>            
      <h3>American Museum of Natural History</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=4">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=20">Bars</a></li>
                <li><a href="/localize?categoryid=21">Cheap Eats</a> </li>                        
            </ul>
      </div>  
      <h3>96st Street West</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=4">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=20">Bars</a></li>
                <li><a href="/localize?categoryid=21">Cheap Eats</a> </li>                        
            </ul>
      </div>  
      <h3>86st Street East</h3>
      <div class="navigation">
            <ul class="top-level">
                <li><a href="/localize?categoryid=4">Staff Picks</a> </li>
                <li><a href="/localize?categoryid=20">Bars</a></li>
                <li><a href="/localize?categoryid=21">Cheap Eats</a> </li>                        
            </ul>
      </div>
    </div>        

    <!-- Nav Listing Unit End -->          
    <!-- Mini Foooter -->
            
<!--       <div class="footer3">
        <p>
          <a href="https://www.facebook.com/GatheringUp">Facebook</a> -
          <a href="https://twitter.com/Gathering_UP">Twitter</a> -
          <a href="http://gatheringup.wordpress.com">Blog</a> -
          <a href="/about">About</a> -
          <a href="/about/termsofuse">Terms of Use</a><br> - 
          <a href="/about/privacy">Privacy Policy</a> -
          Images Provided by <a href="http://www.foursquare.com">Foursquare</a>
        </p>
      </div>  
</div>      -->

<script type="text/html" id='locations'>
<% var max = (((page+1)*numentries)>outdata.length) ? outdata.length:((page+1)*numentries); %>
<% for(index=(page*numentries); index<max; index++){ %>
<% item=outdata[index];
 %>
	<% if(item.tier == 1){ %>
            <div class="nearby_item sm_mod clearfix">
                    <div class="item_text" id="<%= (index+1)%>" gid="">
                      <h4><a href="/localize?searchid=<%= item.idlocalize %>"><span><%= (index+1)%></span>.&nbsp;<%= item.localname%></a></h4><br>
                      <div class="result_cat">
                    <%
                    	var categories = item.category.split(', ');
//console.log(categories);
                    	for(var i = 0; i<categories.length; i++){
					%>
                    		<button class="btn btn-mini cat_tag_mini disabled"><%=categories[i]%></button>
					<%
                    	}
                    %>
                    </div>                          
                    </div>
					<div class="thumbnail_box">
<% var imageurl =  (item.imageurl) ? (item.imageurl):('http://siteimages.gatheringup.com/images/places.jpg') %>
                      <img src="<%=imageurl%>" alt="thumbnail">
					</div>
            </div>
	<% }else if(item.tier == 2){ %>
            <div class="nearby_item med_mod clearfix">
                    <div class="item_text" id="<%= (index+1)%>" gid="">
                      <h4>
							<a href="/localize?searchid=<%= item.idlocalize %>">
						<span><%= (index+1)%></span>.&nbsp;<%= item.localname %></a></h4>
                      <p><%=((item.address1 && item.address1!='') ? item.address1+"<BR>" : "" )%>
                      	<%=((item.address2 && item.address2!='') ? item.address2+"<BR>" : "") %> 
						<%= item.city %>, <%= item.statecode %> <%= item.zip %><br>
						<%= ((item.phone && item.phone != '') ? item.phone+"<BR>" : "")  %>
					<% if(item.url && item.url != ''){ %>
                    	<br><a href="<%= item.url %>" target="_blank"><span class="icon-globe"></span>&nbsp;Website</a>
					<% } %>
                        <div class="result_cat">
                    <%
                    	var categories = item.category.split(', ');
//console.log(categories);
                    	for(var i = 0; i<categories.length; i++){
					%>
                    		<button class="btn btn-mini cat_tag_mini disabled"><%=categories[i]%></button>
					<%
                    	}
                    %>
                        </div>
                    </div>
                    <div class="item_other">
					<div class="thumbnail_box">
					<% var imageurl =  (item.imageurl) ? (item.imageurl):('http://siteimages.gatheringup.com/images/places.jpg') %>
                      <img src="<%=imageurl%>" alt="thumbnail">
                    </div>
						<% if(bookmarks[item.idlocalize]){%>
						<button class="btn-orange btn btn-green btn-mini"  onclick="toggleplace(<%=item.idlocalize%>, this)">Bookmarked</button>
						<% }else{ %>
						<button class="CTA_button btn btn-green btn-mini"  onclick="toggleplace(<%=item.idlocalize%>, this)"><i class="icon-bookmark icon-white"></i>Bookmark</button>
						<% } %>
                    </div>
            </div>
	<% }else{ %>
            <div class="nearby_item">
                <div class="item_top_info clearfix">                
                    <div class="item_text" id="<%= (index+1)%>" gid="">
                      <h4>
						<a href="/localize?searchid=<%= item.idlocalize %>">
							<span><%= (index+1)%></span>.&nbsp;<%= item.localname %></a></h4>
                      <p><%=((item.address1 && item.address1!='') ? item.address1+"<BR>" : "" )%>
                      	<%=((item.address2 && item.address2!='') ? item.address2+"<BR>" : "") %> 
						<%= item.city %>, <%= item.statecode %> <%= item.zip %><br>
						<%= ((item.phone && item.phone != '') ? item.phone+"<BR>" : "")  %>
					<% if(item.url && item.url != ''){ %>
                    	<br><a href="<%= item.url %>" target="_blank"><span class="icon-globe"></span>&nbsp;Website</a>
					<% } %>
						</p>
                    <div class="result_cat">
                    <%
                    	var categories = item.category.split(', ');
//console.log(categories);
                    	for(var i = 0; i<categories.length; i++){
					%>
                    		<button class="btn btn-mini cat_tag_mini disabled"><%=categories[i]%></button>
					<%
                    	}
                    %>
                    </div>     
                                          
                    </div>
                    <div class="item_other">
					<div class="thumbnail_box">
					<% var imageurl =  (item.imageurl) ? (item.imageurl):('http://siteimages.gatheringup.com/images/places.jpg') %>
                      <img src="<%=imageurl%>" alt="thumbnail">
					</div>
						<% if(bookmarks[item.idlocalize]){%>
						<button class="btn-orange btn btn-green btn-mini"  onclick="toggleplace(<%=item.idlocalize%>, this)">Bookmarked</button>
						<% }else{ %>
						<button class="CTA_button btn btn-green btn-mini"  onclick="toggleplace(<%=item.idlocalize%>, this)"><i class="icon-bookmark icon-white"></i>Bookmark</button>
						<% } %>
                    </div>   
<div class="item_tab"><span class="icon-chevron-down icon-white down_arrow"></span></div>   
                </div>
                <div class="item_content">
                    <div class="dividline"></div>
                    <p>
						<%= (item.description? '<div>'+item.description+'</div><br>':'') %>
						<%= (item.directions? '<div><span class="icon-star"></span>&nbsp;'+item.directions+'</div><br>':'') %>
	                    <%= (item.hours? '<div><span class="icon-time"></span>&nbsp;'+item.hours+'</div><br>':'') %>
                    </p>       
                </div>              
            </div>
<%
	}
}
%>
</script>

<script type="text/javascript">
//var bookmarks={};
var bookmarks = {};
		
</script>

     
<div class="bg_wrap_bookmark"></div>

    <div class="bookmark_wrap">

    <div class="bookmark_box ">
      <div class="btn-group  bookmark-tabs" data-toggle="buttons-radio">
        <button type="button" class="btn btn-green btn-bookmark-tabs btn-primary">Places</button>
        <button type="button" class="btn btn-green btn-bookmark-tabs btn-primary">Upcoming Events</button>
        <button type="button" class="btn btn-green btn-bookmark-tabs active btn-primary">Past Events</button>
      </div>      
    </div>

    <!--  Date Breaker   -->

    <h3 class="date_break">Tuesday June 15th</h3>    

    <!--  Detail Module   -->

      <div class="bookmark_item"> 
        <div class="bookmark_top_info"> 

            <div class="bookmark_other">
              <div class="thumbnail_box">
                <img src="https://irs2.4sqi.net/img/general/width320/5067488_ArV9SMSpTzVSFvZIjgryTc0O3d29VEUyim0KMObObp8.jpg" alt="thumbnail">
              </div>
              <button class="CTA_button btn btn-green btn-mini" onclick="toggleplace(869803, this)" style="display: none;"><i class="icon-bookmark icon-white"></i>Bookmark</button>
            </div>       

            <div class="close_tag">
              <span class="icon-remove icon-white"></span>
              <img src="images/bookmark.png" alt="">  
            </div>     

            <div class="item_text" id="1" gid="">
              <h4>
              <a href="/localize?searchid=869803">
                <span>1</span>.&nbsp;Columbus Circle</a>
              </h4>
                <span class="cat_tag_mini">Favorites</span>
                <p>The Shops at Columbus Circle is an urban shopping mall in the Time Warner Center in Manhattan, New York City ...</p>
                <p>
                  <a href="http://www.theshopsatcolumbuscircle.com/" target="_blank"><span class="icon-globe"></span>&nbsp;Website</a>
                  <span class="icon-asterisk"></span>&nbsp;(212)453-4534          
                </p>                
            </div>

            <div class="btn_group">
              <button class="CTA_button btn btn-green btn-mini btn-bookmark">Invite</button>                        
              <button class="CTA_button btn btn-green btn-mini btn-nearby">What's Nearby</button>
              <button href=".placesmodal" class="CTA_button btn btn-green btn-mini btn-readmore" data-toggle="modal">Read More</button>
            </div>                   
        </div>            
      </div>

  <!-- Result Module -->     

            <div class="bookmark_item">
                <div class="bookmark_top_info">                

                    <div class="bookmark_other">
                      <div class="thumbnail_box">
                        <img src="images/shakespeare.jpg" alt="thumbnail">
                      </div>  
                    </div>

                    <div class="close_tag">
                      <span class="icon-remove icon-white"></span>
                      <img src="images/bookmark.png" alt="">  
                    </div>                  

                    <div class="bookmark_text">
                      <h4><a href=""><span>2.&nbsp</span>Shakespeare in the Park Presents "The Comedy of Errors"</a></h4>
                      <h5>June 26, 2013 at 08:30 PM - 12:30 AM</h5>
                      <p>
                      The Comedy of Errors, one of William Shakespeare's earliest plays, is a comical tale about two sets of twins who were at birth ...
                      <br>                     
                      </p>                
                    </div>

                    <div class="btn_group">
                      <button class="CTA_button btn btn-green btn-mini btn-bookmark">Invite</button>                        
                      <button class="CTA_button btn btn-green btn-mini btn-nearby">What's Nearby</button>
                      <button href=".eventmodal" class="CTA_button btn btn-green btn-mini btn-readmore" data-toggle="modal">Read More</button>
                    </div>     
                </div>            
            </div>   

    <!--  Date Breaker   -->

    <h3 class="date_break">Tuesday June 15th</h3>

    <!--  Detail Module   -->

      <div class="bookmark_item"> 
        <div class="bookmark_top_info">         
            <div class="bookmark_other">
              <div class="thumbnail_box">
                <img src="https://irs2.4sqi.net/img/general/width320/5067488_ArV9SMSpTzVSFvZIjgryTc0O3d29VEUyim0KMObObp8.jpg" alt="thumbnail">
              </div>
              <button class="CTA_button btn btn-green btn-mini" onclick="toggleplace(869803, this)" style="display: none;"><i class="icon-bookmark icon-white"></i>Bookmark</button>
            </div>     

            <div class="close_tag">
              <span class="icon-remove icon-white"></span>
              <img src="images/bookmark.png" alt="">  
            </div>                   

            <div class="item_text" id="1" gid="">
              <h4>
              <a href="/localize?searchid=869803">
                <span>1</span>.&nbsp;Columbus Circle</a>
              </h4>
                <span class="cat_tag_mini">Favorites</span>
                <p>The Shops at Columbus Circle is an urban shopping mall in the Time Warner Center in Manhattan, New York City ...</p>
                <p>
                  <a href="http://www.theshopsatcolumbuscircle.com/" target="_blank"><span class="icon-globe"></span>&nbsp;Website</a>
                  <span class="icon-asterisk"></span>&nbsp;(212)453-4534          
                </p>                
            </div>

            <div class="btn_group">
              <button class="CTA_button btn btn-green btn-mini btn-bookmark">Invite</button>                        
              <button class="CTA_button btn btn-green btn-mini btn-nearby">What's Nearby</button>
              <button href=".placesmodal" class="CTA_button btn btn-green btn-mini btn-readmore" data-toggle="modal">Read More</button>
            </div>                   
        </div>            
      </div>             

    </div>    <!-- Background Wrapper Ends -->

  <div class="footer_bookmark">
    <p>
      <a href="https://www.facebook.com/GatheringUp">Facebook</a> -
      <a href="https://twitter.com/Gathering_UP">Twitter</a> -
      <a href="http://gatheringup.wordpress.com">Blog</a> -
      <a href="/about">About</a> -
      <a href="/about/termsofuse">Terms of Use</a> - 
      <a href="/about/privacy">Privacy Policy</a> -
      Images Provided by <a href="http://www.foursquare.com">Foursquare</a>
    </p>
  </div>     

    <!-- Map Background -->
    <div id="map_canvas" class="map_bookmark"></div>  

    <!-- Place Detail Modal -->
    <div class="modal hide fade placesmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

      <div class="item_top_info">  
        <div class="item_other">
          <div class="thumbnail_box">
            <img src="https://irs2.4sqi.net/img/general/width320/5067488_ArV9SMSpTzVSFvZIjgryTc0O3d29VEUyim0KMObObp8.jpg" alt="thumbnail">
          </div>
          <button class="CTA_button btn btn-green btn-mini btn-bookmark">Bookmark</button>                        
          <button class="CTA_button btn btn-green btn-mini btn-nearby">What's Nearby</button>
          <button class="CTA_button btn btn-green btn-mini btn-nearby">Feedback</button>
        </div>  

        <div class="item_text" id="1" gid="">
          <h4>
            <a href="/localize?searchid=869803">
              <span>3</span>.&nbsp;Columbus Circle</a></h4>
              <span class="cat_tag_mini">Favorites</span>
              <p>
                1849 Broadway<br>
                New York, NY 10023<br>              
              </p>
              <p>
                <a href="http://www.theshopsatcolumbuscircle.com/" target="_blank"><span class="icon-globe"></span>&nbsp;Website</a>
                <span class="icon-asterisk"></span>&nbsp;(212)453-4534<br>   
                The Shops at Columbus Circle is an urban shopping mall in the Time Warner Center in Manhattan, New York City — a complex of skyscrapers that was completed in 2003. It is located at Columbus Circle, next to the southwestern corner of Central Park. It includes mostly upscale stores selling luxury brands, including Armani, Davidoff, L'Occitane, Hugo Boss, Tumi, Coach, Cole Haan, Thomas Pink, Tourneau, and Stuart Weitzman. The mall also has several restaurants such as the Michelin 3-star Per Se, Masa, an outpost of A Voce, the East Coast flagship of Williams-Sonoma, and a Whole Foods Market.
                <br><br>
                <span class="icon-star"></span>&nbsp;Monday-Saturday: 10:00AM-9:00PM, Sunday: 11:00AM-7:00PM
              </p> 
            </div>

          </div>            

          <div class="accordion" id="accordion2">
            <div class="accordion-group reviews">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Reviews / Comments (2)
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">

                  <div class="message_area" name="164">
                    <div class="message_entry">

                      <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/902555095/picture" alt="thumbnail"> 
                      
                      <div class="text_fields">
                        <h4>David Lau</h4>
                        <span>1st May - 2013</span>                
                        <p>The Shops at Columbus Circle is an urban shopping mall in the Time Warner Center in Manhattan, New York City — a complex of skyscrapers that was completed in 2003. It is located at Columbus Circle, next to the southwestern corner of Central </p>
                      </div> 
                    </div>
                  </div>

                  <div class="dividline"></div>

                  <div class="message_area" name="164">
                    <div class="message_entry">

                      <img class="img-polaroid thumbnail_profile" src="http://graph.facebook.com/902555095/picture" alt="thumbnail"> 
                      
                      <div class="text_fields">
                        <h4>David Lau</h4>
                        <span>4th June - 2013</span>
                        <p>The Shops at Columbus Circle is an urban shopping mall in the Time Warner Center in Manhattan, New York City — a complex of skyscrapers that was completed in 2003. It is located at Columbus Circle, next to the southwestern corner of Central </p>
                      </div> 
                    </div>
                  </div>  

                  <div class="dividline"></div>              

                  <form accept-charset="UTF-8" id="formpostmessage" action="javascript:void(0);" method="POST">            
                    <textarea class="comment_msg" name="message" placeholder="Tell us what you think?" rows="5"></textarea>                                
                    <button class="btn btn-green" type="button" onclick="postactivitymessage(164)">Write Comment</button>                                             
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-group menus">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Food Menu
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">

                  <div class="place_data">
                    <div id="menusContainer"></div>
                    <script type="text/javascript" src="http://menus.singleplatform.co/jsload?load=menus.2&apiKey=kpblfd23vcwwn5gue0zzrcl9s"></script>
                    <script>
                    var menuApi = new MenusApi("kpblfd23vcwwn5gue0zzrcl9s");
                    menuApi.setBaseFontSize("8pt");
                    menuApi.setPrimaryFontFamily("Arial");
                    menuApi.setPrimaryBackgroundColor("#eef");
                    menuApi.setSecondaryBackgroundColor("#fff");
                    menuApi.setSectionTitleFontColor("Black");
                    menuApi.loadMenusForLocation("sushiya-6", "menusContainer");
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>      <!-- Place Detail Modal Ends -->

    <!-- Event Detail Modal -->

    <div class="modal hide fade eventmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <!-- <div class="event-header"> -->
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

      <div class="event_item">
        <div class="event_top_info clearfix">                
          <div class="event_text">
            <h4><a href=""><span>1.&nbsp</span>Elegance for All: A Pop-Up Shop by ModCloth</a></h4>
            <h5>June 14, 2013 at 6:00 PM</h5>
            <p>
              Location05<br>                     
              509 West 34th Street<br>                      
              New York, NY 10001<br>    
            </p>                
          </div>


          <div class="event_other">
            <div class="thumbnail_box">
              <img src="images/image1.jpg" alt="thumbnail">
            </div>  
            <button class="CTA_button btn btn-green btn-mini btn-bookmark">Bookmark</button>                        
            <button class="CTA_button btn btn-green btn-mini btn-nearby">What's Nearby</button>                 
          </div>                    
        </div>            
      </div>

      <div class="event_data">
        <div class="dividline"></div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, enim ad in laboriosam voluptate cupiditate iure necessitatibus adipisci minima quo dicta incidunt atque excepturi inventore id repudiandae voluptatum? Quo eum accusantium hic minus facilis velit similique voluptate nesciunt reprehenderit consequatur. Sit itaque in maiores voluptatum quas non id quam earum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, enim ad in laboriosam voluptate cupiditate iure necessitatibus adipisci minima quo dicta incidunt atque excepturi inventore id repudiandae voluptatum? Quo eum accusantium hic minus facilis velit similique voluptate nesciunt reprehenderit consequatur. Sit itaque in maiores voluptatum quas non id quam earum.         
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, enim ad in laboriosam voluptate cupiditate iure necessitatibus adipisci minima quo dicta incidunt atque excepturi inventore id repudiandae voluptatum? Quo eum accusantium hic minus facilis velit similique voluptate nesciunt reprehenderit consequatur. Sit itaque in maiores voluptatum quas non id quam earum.      
      </div>     

    </div>     <!-- Event Detail Modal Ends -->

    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.min.js"></script>
<!--Carousel Javascript-->    
    <script type="text/javascript"> 

    
      $(function(){
    	  $("#regpassword").tooltip();
      });
    </script>
  </body>
</html>
