<!DOCTYPE html>

<html>
<head>
 <title>GatheringUP</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
 <meta name="description" content="GatheringUP is about finding fun things to do in and around New York City's Central Park.">
 <meta name="keywords" content="Central, Park, New, York, City, Upper, West, East, NYC, Museum, Lincoln, Center, Columbus, Circle, Side">

 <link rel="stylesheet" href="css/bootstrap.css">
 <!-- <link rel="stylesheet" href="css/bootstrap-responsive.css"/> -->
 <!-- <link rel="stylesheet" href="css/bootstrap-mobile.css"/> -->

 <link rel="stylesheet" href="css/styles2.css">


 <!-- Google Font -->

 <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>   	
 <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>

 <script type="text/javascript" src="/js/underscore-min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>    
 <!-- <script src="/js/jquery.masonry.min.js"></script> -->
 <script>

 $(document).ready(function(){
  var $container = $('#module_wrap');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector: '.module_unit',
      columnWidth: 0,
      isFitWidth: true,       
      isAnimated: true              
    });
  });       
});
 </script>
 <script type="text/javascript" src="/js/gatheringup-registration-min.js"></script>
 <script type="text/javascript" src="/js/gatheringup-main-min.js"></script>
 <script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-38678718-1']);
 _gaq.push(['_trackPageview']);

 (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</head>

<body onload="initialize()">

  <!-- Header Unit -->

  <div class="navbar navbar_container">
    <div class="navbar-inner nav_bar_style navbar-fixed-top">
      <div class="container">

        <!-- Controls the mobile menu button -->

        <a class="btn btn-navbar btn-mini-menu" data-toggle="collapse" data-target=".nav-collapse"> 
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <!-- Change Out the Logo -->      

        <div class="brand_fix">
          <a class="brand" href="/">GatheringUP</a>
        </div> 

        <!-- Elements inside will disappear when mobile -->          

        <div id="collapse_content" class="nav-collapse collapse"> 
          <ul id="nav_items_group" class="nav">
            <li>
              <a href="/localize">Places
                <img src="http://siteimages.gatheringup.com/images/around.png" alt="">
              </a>
            </li>                      
            <li>
              <a href="/localize">Events
                <img src="images/eventpin.png" alt="">
              </a>
            </li>                      
            <li>
              <a class="active" href="/localize">Stories
                <img src="images/storypin.png" alt="">
              </a>
            </li>                      
          </ul>          

          <a id="note_off" class="dropdown-toggle" data-toggle="dropdown" href="">&nbsp;</a>

          <span id="loggedinuserspan">
            <ul id="nav_cta" class="nav pull-right">
              <li><a class="btn_nav_cta" href="javascript:void(0)" data-toggle="modal" onclick="registerpopup()">Register</a></li>            
              <li>
                <a class="btn_nav_cta dropdown-toggle" href="#" id="style_dp_text" data-toggle="dropdown">
                  Sign In
                  <b class="icon-chevron-down icon-white"></b>
                </a>
                <div id="signin_box" class="dropdown-menu">
                  <span id="logindropdownspan">
                    <a href="https://www.facebook.com/dialog/oauth?client_id=444845832200364&amp;redirect_uri=http%3A%2F%2Fwww.com%2Fuser%2Ffacebook&amp;state=95696bab9d935a2d763b732bbbdc0f0a" class="facebookurl">
                      <button class="btn btn_facebookdp btn-facebook"><span aria-hidden="true" class="icon-datebookfacebook"></span>Sign in with Facebook</button>  
                    </a>
                    <div class="dividline"></div>  
                    <div id="SideDropLoginErrors"></div>
                    <form class="clearfix" id="signin_content" method="post" action="#" accept-charset="UTF-8">
                      <input class="input_dp" placeholder="Username" id="droploginemail" type="text" name="username">
                      <input class="input_dp" placeholder="Password" id="droploginpassword" type="password" name="password">
                      <div id="forgotpw"><a onclick="logintoforget()">Forgot Password</a></div>
                      <button class="btn btn-green clearfix">Sign in</button>
                    </form>
                  </span>
                </div>                
              </li>             
            </ul>            
          </span>

        </div>
      </div>
    </div>
  </div>    <!-- Header End -->

  <div class="modal hide fade" id="register_modal" tabindex="-1" role="dialog">

   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h1>Register with GatheringUP!</h1>
   <div class="dividline"></div>
   <form id="registerform">
     <div class="clearfix">

       <div class="control-group">
         <div class="control">
           <p class="help-block"></p>
           <input name="firstname" id="firstname" class="form_reg" type="text" placeholder="First Name" required>                
         </div>
       </div>

       <div class="control-group">
         <div class="control">
           <p class="help-block"></p>                  
           <input  name="lastname" id="lastname" class="form_reg" type="text" placeholder="Last Name" required>
         </div>
       </div>

       <div class="control-group">
         <div class="control">    
           <p class="help-block"></p>   
           <input  name="email" id="regemail" class="form_reg" type="email" placeholder="Email" required>
         </div>
       </div>

       <div class="control-group">
         <div class="control">    
           <input id="password1st"  type="password" minlength="8" name="password" class="form_reg" placeholder="Password - Must be 8 Characters" required>  
         </div>              
       </div>              

       <div class="control-group">
         <div class="control">    

           <input 
           id="password2nd"
           class="form_reg" 
           placeholder="Retype Password"
           type="password"
           name="passwordconf"
           data-validation-match-match="password1"    
           minlength="8" 
           data-validation-minlength-message="Minimum 8 Characters"              
           />
           <p class="help-block"></p>    
         </div>              
       </div>       
       <div id="RegistrationErrors"></div>

       <div class="control-group">
         <div class="control">                  
           <p class="help-block"></p>                                 
           <input type="text" name="norobotcode"  id="catcha2" class="form_reg" placeholder="Enter Captcha" required>
           <div ><img src="/captcha"></div>                
         </div>
       </div>

     </div>

     <div class="dividline"></div>
     <button class="btn btn-large btn-green" >Register!</button>
   </form>
   <h4>OR</h4>
   <a href=""  id="fb_register" class="facebookurl"  >
     <button href="#" class="btn btn-large btn-facebook"><span id="fb_reg" class="icon-datebookfacebook" aria-hidden="true"></span>Register with Facebook</button>      
   </a>
 </div>    



 <!--Forgot Password Modal-->
 <div class="modal hide fade" id="forgotpw_modal" tabindex="-1" role="dialog">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h1>Forgot Password?</h1>
   <div class="dividline"></div>
   <form  id="forgotpasswordform" class="forgot_fields clearfix">
     <div class="control-group">
       <div class="controls">
        <p class="help-block"></p>
        <input type="email" id="forgotemail" class="form_reg" placeholder="Enter Your Email" required>

      </div>
    </div>
    <button type="submit" class="btn btn-green">Forgot Password!</button>  
  </form>  
</div>

<script type="text/html" id="articletemplate">
    <% for(index=0; index<outdata.length; index++){ %>
      <% item=outdata[index] %>
      <div class="module_unit">

      <a href="/story?articleid=<%=item.idarticle%>">
      <img src="<%= item.imagecdnurl%>/<%=item.imagethumbdir%><%=item.imagecdnname%>" alt="">
      </a>
      <div class="module_text">
      <a href="/story?articleid=<%=item.idarticle%>"><h5><%=item.summary%></h5></a>
      <h6>by <%=item.firstname%> <%=item.lastname%></h6>
      <div class="dividline"></div>
      <p><%=item.description%></p>

      <!-- <div class="dividline"></div> -->

      </div>
      <div class="module_tag">
      <%
      if(item.audience){
       var myarr = item.audience.split(",");
       for(i=0; i<myarr.length; i++)
       {
         %>
         <button class="btn btn-mini disabled cat_tag"><%=myarr[i]%></button>
         <%
       }
     }%>
     </div>   
     </div>
     <% } %>
 </script>

 <!-- Featured Unit -->

 <div class="Story_top">
  <!-- <div class="container-module"> -->
  <div id="filter_cat">
    <h2>Browse&nbsp;</h2>
    <select  name="category" onchange="refreshcategory(this)">
      <option value="0">All</option>
      <option value="7">Local Residents</option>
      <option value="8">Visitors</option>
    </select>                     
    <h2>&nbsp; Stories</h2>
    <h2>or</h2>
    <button class="btn btn-share btn-large btn-green" onclick="checkloggedin('/storycreate')">Share your story!</button>
  </div>
</div>    

<!-- Module Unit -->

<div id="module_wrap" class="container">

<a href="#">
  <div class="module_unit">
    <div class="img_box">
      <img src="http://images.gatheringup.com/images/thumbnail/51b6a61c789b4.jpg" alt="">
    </div>
    <div class="module_text">
      <h5>Tuned into the Balloon Parade</h5>
      <h6>by Ashley Villarreal</h6>
      <!-- <div class="dividline"></div> -->
      <p>Hanif Bugg was standing at the end of a long line of colorful balloons with his fingers wrapped tightly around the end of the ropes supporting them. It was just another day on the job for him.</p>
      <!-- <div class="dividline"></div> -->
    </div>
    <div class="module_tag">
      <span class="cat_tag">Local Residents</span>
      <span class="cat_tag">Tourist</span>
    </div>   
  </div>
  </a>

  <!-- Module Unit -->

<a href="#">
  <div class="module_unit">

    <div class="img_box">
      <img src="http://images.gatheringup.com/images/thumbnail/51b66ae8e1613.jpg" alt="">
    </div>
    <div class="module_text">
      <h5>Visiting from Chicago</h5>
      <h6>by Ashley Villarreal</h6>
      <!-- <div class="dividline"></div> -->
      <p>Sharice and Gary were coming out of the American Museum of Natural History when a salesman for Central Park Guided Tours approached them. “Thank you, but not today,” said Sharice, smiling politely.</p>
    </div>
    <div class="module_tag">
      <span class="cat_tag">Tourist</span>
    </div>   
  </div>
</a>
  <!-- Module Unit -->

<a href="#">
  <div class="module_unit">

    <div class="img_box">
      <img src="http://images.gatheringup.com/images/thumbnail/51a1569bb7767.jpg" alt="">
    </div>
    <div class="module_text">
      <h5>Raccoon Rock</h5>
      <h6>by Ashley Villarreal</h6>
      <!-- <div class="dividline"></div> -->
      <p>Leo Politan’s bright baby blue hat was visible from the base of an expansive rock just off the path from Cherry Hill fountain. He’d been lucky to find it at a store in Queens, where both he and his friend</p>

    </div>
    <div class="module_tag">
      <span class="cat_tag">Local Resident</span>
    </div>   
  </div>

  <!-- Module Unit -->

<a href="#">
  <div class="module_unit">

    <div class="img_box">
      <img src="http://images.gatheringup.com/images/thumbnail/51b6a61c789b4.jpg" alt="">
    </div>
    <div class="module_text">
      <h5>Tuned into the Balloon Parade</h5>
      <h6>by Ashley Villarreal</h6>
      <!-- <div class="dividline"></div> -->
      <p>Hanif Bugg was standing at the end of a long line of colorful balloons with his fingers wrapped tightly around the end of the ropes supporting them. It was just another day on the job for him.</p>
      <!-- <div class="dividline"></div> -->
    </div>
    <div class="module_tag">
      <span class="cat_tag">Local Residents</span>
      <span class="cat_tag">Tourist</span>
    </div>   
  </div>
</a>  

  <!-- Module Unit -->

<a href="#">
  <div class="module_unit">

    <div class="img_box">
      <img src="http://images.gatheringup.com/images/thumbnail/51a1569bb7767.jpg" alt="">
    </div>
    <div class="module_text">
      <h5>Raccoon Rock</h5>
      <h6>by Ashley Villarreal</h6>
      <!-- <div class="dividline"></div> -->
      <p>Leo Politan’s bright baby blue hat was visible from the base of an expansive rock just off the path from Cherry Hill fountain. He’d been lucky to find it at a store in Queens, where both he and his friend</p>

    </div>
    <div class="module_tag">
      <span class="cat_tag">Local Resident</span>
    </div>   
  </div>
</a>

<a href="#">
  <div class="module_unit">

    <div class="img_box">
      <img src="http://images.gatheringup.com/images/thumbnail/51b66ae8e1613.jpg" alt="">
    </div>
    <div class="module_text">
      <h5>Visiting from Chicago</h5>
      <h6>by Ashley Villarreal</h6>
      <!-- <div class="dividline"></div> -->
      <p>Sharice and Gary were coming out of the American Museum of Natural History when a salesman for Central Park Guided Tours approached them. “Thank you, but not today,” said Sharice, smiling politely.</p>
    </div>
    <div class="module_tag">
      <span class="cat_tag">Tourist</span>
    </div>   
  </div>  
</a>

</div>   <!-- Wrap Ends -->

<!-- Footer -->

<!-- <div class="footer2 home_footer">
    <p class="footer_bold">Copyright Gathering Up Ltd 2013. All rights reserved.&nbsp;|
      <a href="https://www.facebook.com/GatheringUp"><span class="icon-datebookfacebook"></span>Facebook</a>  |
      <a href="https://twitter.com/Gathering_UP">Twitter</a>  |
      <a href="http://gatheringup.wordpress.com">Blog</a>  |
      <a href="/about">About Us</a>  |
      <a href="/about/termsofuse">Terms of Use</a>  |
      <a href="/about/privacy">Privacy Policy</a> |
    </p>
 </div>    
-->

<!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <script src="/js/bootstrap.min.js"></script>
  
  <!--Carousel Javascript-->    

  <script type="text/javascript"> 
    $(function(){
     $("#regpassword").tooltip();
   });
  </script>
</body>
</html>
