@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-datebook"] {
*/
.icon-datebookcaret-down, .icon-datebookcaret-up, .icon-datebookcaret-left, .icon-datebookcaret-right, .icon-datebookDatebook, .icon-datebookDatebook2, .icon-datebooktumblr, .icon-datebookfacebook, .icon-datebookplus, .icon-datebookminus, .icon-datebookenvelope, .icon-datebookpencil, .icon-datebookpen-alt-fill, .icon-datebookpen {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-datebookcaret-down:before {
	content: "\f0d7";
}
.icon-datebookcaret-up:before {
	content: "\f0d8";
}
.icon-datebookcaret-left:before {
	content: "\f0d9";
}
.icon-datebookcaret-right:before {
	content: "\f0da";
}
.icon-datebookDatebook:before {
	content: "\e000";
}
.icon-datebookDatebook2:before {
	content: "\e001";
}
.icon-datebooktumblr:before {
	content: "\e002";
}
.icon-datebookfacebook:before {
	content: "\e003";
}
.icon-datebookplus:before {
	content: "\e004";
}
.icon-datebookminus:before {
	content: "\e005";
}
.icon-datebookenvelope:before {
	content: "\e006";
}
.icon-datebookpencil:before {
	content: "\e007";
}
.icon-datebookpen-alt-fill:before {
	content: "\e008";
}
.icon-datebookpen:before {
	content: "\e009";
}

@font-face {
	font-family: 'brankic1979';
	src:url('fonts/brankic1979.eot');
	src:url('fonts/brankic1979.eot?#iefix') format('embedded-opentype'),
		url('fonts/brankic1979.woff') format('woff'),
		url('fonts/brankic1979.ttf') format('truetype'),
		url('fonts/brankic1979.svg#brankic1979') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-number, .icon-number-2, .icon-number-3, .icon-number-4, .icon-number-5, .icon-number-6, .icon-number-7, .icon-number-8, .icon-number-9, .icon-number-10, .icon-number-11, .icon-number-12, .icon-number-13, .icon-number-14, .icon-number-15, .icon-number-16, .icon-number-17, .icon-number-18 {
	font-family: 'brankic1979';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-number:before {
	content: "\111";
}
.icon-number-2:before {
	content: "\222";
}
.icon-number-3:before {
	content: "\333";
}
.icon-number-4:before {
	content: "\444";
}
.icon-number-5:before {
	content: "\555";
}
.icon-number-6:before {
	content: "\666";
}
.icon-number-7:before {
	content: "\777";
}
.icon-number-8:before {
	content: "\888";
}
.icon-number-9:before {
	content: "\999";
}
.icon-number-10:before {
	content: "\a111";
}
.icon-number-11:before {
	content: "\a222";
}
.icon-number-12:before {
	content: "\a333";
}
.icon-number-13:before {
	content: "\a444";
}
.icon-number-14:before {
	content: "\a555";
}
.icon-number-15:before {
	content: "\a666";
}
.icon-number-16:before {
	content: "\a777";
}
.icon-number-17:before {
	content: "\a888";
}
.icon-number-18:before {
	content: "\a999";
}

@font-face {
	font-family: 'icomoon2';
	src:url('fonts/icomoon2.eot');
	src:url('fonts/icomoon2.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon2.woff') format('woff'),
		url('fonts/icomoon2.ttf') format('truetype'),
		url('fonts/icomoon2.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-twitter, .icon-wordpress {
	font-family: 'icomoon2';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e0020";
}
.icon-wordpress:before {
	content: "\e0019";
}
