@font-face {
	font-family: 'brankic1979';
	src:url('fonts/brankic1979.eot');
	src:url('fonts/brankic1979.eot?#iefix') format('embedded-opentype'),
		url('fonts/brankic1979.woff') format('woff'),
		url('fonts/brankic1979.ttf') format('truetype'),
		url('fonts/brankic1979.svg#brankic1979') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'brankic1979';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-number, .icon-number-2, .icon-number-3, .icon-number-4, .icon-number-5, .icon-number-6, .icon-number-7, .icon-number-8, .icon-number-9, .icon-number-10, .icon-number-11, .icon-number-12, .icon-number-13, .icon-number-14, .icon-number-15, .icon-number-16, .icon-number-17, .icon-number-18 {
	font-family: 'brankic1979';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-number:before {
	content: "\e000a";
}
.icon-number-2:before {
	content: "\e001a";
}
.icon-number-3:before {
	content: "\e002a";
}
.icon-number-4:before {
	content: "\e003a";
}
.icon-number-5:before {
	content: "\e004a";
}
.icon-number-6:before {
	content: "\e005a";
}
.icon-number-7:before {
	content: "\e006a";
}
.icon-number-8:before {
	content: "\e007a";
}
.icon-number-9:before {
	content: "\e008a";
}
.icon-number-10:before {
	content: "\e009a";
}
.icon-number-11:before {
	content: "\e00a";
}
.icon-number-12:before {
	content: "\e00ba";
}
.icon-number-13:before {
	content: "\e00ca";
}
.icon-number-14:before {
	content: "\e00da";
}
.icon-number-15:before {
	content: "\e00ea";
}
.icon-number-16:before {
	content: "\e00fa";
}
.icon-number-17:before {
	content: "\e010a";
}
.icon-number-18:before {
	content: "\e011a";
}
